.list-group-item .action-icon {
  display: none;
}

.list-group-item:hover {
  z-index: 5;
  color: #fff;
  background-color: #28567c;
  border-color: #337ab7;
}

.list-group-item:hover .action-icon {
  display: inherit;
}