.list-group-item .action-icon {
  display: none;
}

.list-group-item:hover {
  z-index: 5;
  color: #fff;
  background-color: #28567c;
  border-color: #337ab7;
}

.list-group-item:hover .action-icon {
  display: inherit;
}

.input-group{
  padding-top: 25px ;
  padding-bottom: 25px;
  padding-left: 55px;
  padding-right: 15px;
}

.setPadding{
  padding-top: 10px ;
}

.spanProgress{
  color:black;
  padding-left: 5px;
}

.titlePadding{
  padding-bottom: 40px;
  padding-left: 35px;
}

.panelPadding{
  padding-left: 35px;
  padding-top: 50px ;
}